*{margin: 0px;
padding: 0px;}

body {margin: 30px;}

.logo {max-width: 40px;}

.navbar {gap: 25px;
list-style: none;}

a {text-decoration: none;
color: black;}

main {background-image: url(./img/g_1.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 80vh;
padding-top: 29%;}

.back {width: 30%;}

.arte {padding: 50px;}

.g_2 {width: 550px;
height: 300px;}